* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.demo {
  display: none;
}
.containerBox {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.text {
  width: 400px;
  height: 100vh;
  padding: 20px 20px 40px 40px;
  box-shadow: 4px 0 6px #fff;
  font-size: 14px;
  overflow-y: auto;
  z-index: 5;
  background: #fff;
}
.spongeBob {
  width: 100%;
  height: 100%;
  position: relative;
}
.posBox {
  position: relative;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.autoCode {
  flex-grow: 1;
}

.text::-webkit-scrollbar {
  display: none;
}
.controlBtn {
  position: absolute;
  top: 30px;
  left: 370px;
  display: flex;
  flex-direction: column;
  z-index: 6;
}
.controlBtn .btn {
  width: 60px;
  height: 36px;
  background: rgba(255, 255, 255, 1);
  margin-bottom: 18px;
  border-radius: 5px;
  text-align: center;
  line-height: 36px;
  color: rgb(254, 228, 51);
  font-weight: bolder;
  box-shadow: -1px 1px 4px rgb(254, 228, 51);
  cursor: pointer;
}
@media (max-width: 760px) {
  .containerBox {
    flex-direction: column;
  }
  .text {
    min-width: 100%;
    height: 48vh;
    box-shadow: 0 4px 6px #fff;
    padding: 20px 40px 40px 40px;
  }
  .autoCode {
    height: 52vh;
  }
  .posBox {
    top: 30px;
  }
  .controlBtn {
    flex-direction: row;
    justify-content: space-evenly;
    top: 48vh;
    left: 0;
    margin-top: -16px;
    width: 100%;
  }
  .controlBtn .btn {
    width: 54px;
    height: 32px;
    margin-bottom: 0;
    line-height: 32px;
    font-weight: bold;
    box-shadow: -1px -1px 4px rgb(254, 228, 51);
  }
}
.bubble {
  position: absolute;
  background: rgb(202, 182, 49);
  border-radius: 50%;
  z-index: 1;
}
